*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
font-family:Inter,sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:40px;
}

.ticket{
width:420px;
background:#111;
border:1px solid #b9963b;
border-radius:22px;
padding:40px;
text-align:center;
box-shadow:0 20px 60px rgba(0,0,0,.65);
}

.ticket-logo{
width:90px;
margin-bottom:18px;
}

h1{
font-family:"Cormorant Garamond",serif;
font-size:34px;
color:#d4af37;
letter-spacing:2px;
}

h2{
margin-top:5px;
font-size:22px;
color:white;
font-weight:500;
}

.gold-line{
height:1px;
background:#b9963b;
margin:25px 0;
opacity:.5;
}

.ticket-info{
text-align:left;
}

.item{
margin-bottom:18px;
}

.item label{
display:block;
color:#b9963b;
font-size:13px;
margin-bottom:5px;
text-transform:uppercase;
letter-spacing:1px;
}

.item p{
color:white;
font-size:17px;
}

#ticketQR{
display:flex;
justify-content:center;
margin:30px 0;
}

.scan{
color:#b9963b;
font-size:14px;
margin-bottom:30px;
line-height:1.7;
}

#printTicket{
width:100%;
padding:16px;
background:#d4af37;
border:none;
border-radius:999px;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

#printTicket:hover{
transform:translateY(-2px);
background:#f1cb53;
}